/* =========================
          Layout Styles 
   ========================= */

.l-img-center {
	margin: 0 auto;
}

.l-list-inline {
	display: inline-block;
}

.l-section {
	padding: 6% 5%;
}

.l-section-full-height {
	min-height: 100vh;

	h1 {
		margin-top: 20%;
	}

	@media screen and (min-width: 768px) {
		h1 {
			margin-top: 15%;
		}
		
	}
	
}