//Color
$white: #ffffff;
$black: #000000;
$black-lighter: #343e48;

//Social Icon Color
$facebook-color: #3B5A99;
$twitter-color: #29A9E1;
$googlePlus-color: #DF4B38;
$linkedIn-color: #117BB8;

//Brand Color
$brand-primary: #1b49a0;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #ffc820;
$brand-danger:  #d9534f;

$gray-lighter:  #f8f9fa;


//== Buttons
//
//## For each of Bootstrap's buttons Text color.

$btn-default-color:              #333333;
$btn-primary-color:              #333333;
$btn-success-color:              #333333;
$btn-info-color:                 #333333;
$btn-warning-color:              #333333;
$btn-danger-color:               #fff;


//Link
$link-hover-decoration: none;

//Margin

$margin-0x: 0px;
$margin-1x: 15px;
$margin-2x: 30px;
$margin-3x: 5%;