.btn {
	border: 0;
  	border-radius: 0;
  	text-transform: uppercase;
  	padding-left: 3%;
  	padding-right: 3%;
}

.btn-call .call-number {
	display: block;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 1%;
}

.btn-call .call-number i {
    padding-right: 4%;
}