.jumbotron {
	background-size: cover;
	color: $white;
	background-color: $black-lighter;
	margin-bottom: 0;
	padding-top: 5rem;

	h1 {
		font-size: 2em;
		margin-bottom: 0;
		margin-top: $margin-2x;
	}

	p {
		font-size: 1em;
	}

	@media screen and (min-width: 768px) {
		h1 {
			font-size: 4em;
		}

		p {
			font-size: 1.24em;
		}
	}
}