/* Navbar */

.navbar-transparent {
    background-color: transparent;
    border-color: transparent;
}

.navbar-center {
    margin: 0 auto;
    text-align: center;
    float: none;
    display: table;
}